* {
    margin: 0;
    padding: 0;
}

.containter {
    background-color: rgba(255, 144, 14, 0.1);
    padding: 50px 200px 50px 200px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu ul {
    display: flex;
    gap: 30px;
    list-style: none;

}

.nav-menu ul a {
    text-decoration: none;
    color: black;
}

.header {
    width: 100%;
    text-align: center;
}

.header h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 75px;
    margin-top: 100px;

}

.header p {
    color: #727272;
    margin-top: 20px;
}

.btn-primary {
    margin-top: 20px;
    height: 50px;
    width: 150px;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    color: white;
}

.banner {
    width: 100%;
    margin-top: 50px;
}

.main-container {
    display: flex;
    margin-top: 50px;
    align-items: center;
    padding: 0px 220px 50px 220px;
    gap: 80px;

}

.image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 50%;
    gap: 20px;
}

.image img {

    width: 200px;
    height: 200px;
    border-radius: 8px;
}

.main-header h2 {
    font-size: 45px;
    font-weight: 700px;
    margin-bottom: 20px;
}

#one {
    color: #727272;
}

#three {
    color: #FF900E;
}

.main-container-2 {
    padding: 0px 200px;
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 50px;

}

.contents {
    width: 50%;
}

.contents h2 {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 700;
    padding-left: 15px;
    border-left: 5px solid #FF900E;
}

.contents-info {
    margin-bottom: 30px;
}

.contents p {
    color: #727272;

}

.sub-content {
    padding: 10px 20px;
    box-shadow: 0px 0px 10px 5px rgba(229, 237, 248, 0.562);
}

.sub-content h3 {
    margin-bottom: 10px;
}

.poster-image {
    width: 50%;
    position: relative;
}

.poster-image img {
    width: 100%;
    height: 100%;
}

.btn-secondary {
    height: 80px;
    width: 150px;
    border: none;
    border-radius: 8px;
    background-color: #FF900E;
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;


}

.btn-secondary h1 {
    font-size: 35px;
    font-weight: 700;
}

.main-container-3 {
    padding: 50px 200px;
    text-align: center;
}

.main-container-3 h1 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 50px;
}

.complete-projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 40px;
}
.projects{
    text-align: center;
}

.projects img {
    width: 380px;
    height: 300px;
}
.projects h3{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.projects p{
    padding: 0px 15px;
    color: #727272;
    
}

.main-container-4{
    padding: 50px 200px;
}
.main-container-4 h2{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 10px;
}
.main-container-4 p{
    color: #727272;
    margin-bottom: 30px;
    
}

.fact-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.facts{
    margin: auto;
    text-align: center;
    padding: 10px;
    border: 1px solid #FF900E;
    border-radius: 5px;
    width: 150px;
    height: 150px;
}
.facts:hover{
transform: rotate(10deg);
transition-duration: 1s;
}

.facts img{
    margin-top: 30px;
}

.main-container-5{
    padding: 50px 200px;
}
.sponsor-info{
    text-align: center;

}
.sponsor-info h1{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 10px;
}
.sponsor-info p{
    padding: 0px 200px;
    color: #727272;
    margin-bottom: 30px;
}

.sponsors{
display: flex;
justify-content: space-between;
align-items: center;
filter: grayscale(100%);
}
.sponsors img{
    width: 120px;
}
.footer{
    
    text-align: center;
    padding: 30px 200px;
   
}
.footer p{
    background-color: #FFF4E7;
    border-radius: 8px;
    padding: 20px;
    font-size: 12px;
}
@media only screen and (max-width: 768px) {
    .nav-menu, .nav-menu ul,.main-container,.main-container-2,.sponsors, .fact-container{
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    }
    .containter,.main-container, .main-container-2, .main-container-3, .main-container-4, .main-container-5{
        padding: 5px;
        margin: auto;
    }
    .image, .complete-projects{
        grid-template-columns: repeat(1,1fr);
    }
    .footer{
        padding: 0px;
    }

}
